<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">

    <title>CRUD</title>
    <script src = "js1.js"></script>
    <link rel="stylesheet" type="text/css" href="css1.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron" align="Center"  style = "background-color: cornflowerblue">
            <h1>CRUD Operations</h1>
            <p>Enter your employee details to add entry.</p>
        </div>
    </div>
    <div class = "container" ng-app="my_app"  ng-controller="my_ctrl">
        <input-template></input-template>
        <hr>
        <table id="myTable" ng-table="vm.tableParams" show-filter="true" class = 'table table-bordered table-wrapper' style="background-color: #b8b7ad">
            <thead>
                <tr style="background-color: cornflowerblue">
                    <td> <label><input type="checkbox" ng-model="IsAllChecked" ng-change="CheckUncheckAll()" />&emsp;Employee ID</label></td>
                    <td>Employee Name</td>
                    <td>Employee Salary</td>
                    <td>Employee Designation</td>
                    <td>Edit/Save</td>
                    <td>Delete</td>
                    <td>View</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in entries">
                    <td><span><label for="chkCustomer_{{entry.id}}">
                        <input id="chkCustomer_{{entry.id}}" type="checkbox" ng-model="entry.Selected" ng-change="CheckUncheckHeader()" />&emsp;{{entry.id}}</label></span>
<!--                        <input type="text" ng-show="edit_mode" ng-model="entry.id" />-->
                    </td>
                    <td>
                        <span ng-hide="edit_mode">{{entry.name}}</span>
                        <input type="text" ng-show="edit_mode" ng-model="entry.name" />
                    </td>
                    <td>
                        <span ng-hide="edit_mode">{{entry.sal}}</span>
                        <input type="text" ng-show="edit_mode" ng-model="entry.sal" />
                    </td>
                    <td>
                        <span ng-hide="edit_mode">{{entry.des}}</span>
                        <input type="text" ng-show="edit_mode" ng-model="entry.des" />
                    </td>
                    <td>
                        <button ng-hide="edit_mode" ng-click="edit_mode = true; edit_entry(entry)" class="glyphicon glyphicon-edit"></button>
                        <button class="glyphicon glyphicon-saved" ng-show="edit_mode" ng-click="edit_mode = false"></button>
                    </td>
                    <td>
                        <button ng-click="remove_entry($index)" class="glyphicon glyphicon-trash"></button>
                    </td>
                    <td>
                        <button type="button" data-toggle="modal" data-target="#myModal" class = "glyphicon glyphicon-zoom-in" ng-click="view_fun($index)"></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="button" value="Delete Selected" ng-click="Delete()" style="background-color: #b8b7ad"/>
        <button type="button" class="btn btn-primary btn-block"  onclick="final() " >finalize</button>

    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title" id="data_header"></h4>
                </div>
                <div class="modal-body">
                    <p id="view_data"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</body>
</html>